<div class="container-fluid text-right">
  <button
    *ngIf="userRole != 1"
    class="btn btn-success "
    style="float: left;"
    type="button"
    (click)="sidebartoggle()"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-outline-success"
      routerLink="/"
      routerLinkActive="active"
    >
      hello {{ userName }}
    </button>
    <button
      type="button"
      class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" disabled>My orders</a>
      <a class="dropdown-item" disabled="#">My profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
