<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-4 col-md-4 col-lg-12" style="margin-bottom: 0;">
      <img src="/assets/icons/icons8-staff-64.png" />
      <h5 style="margin-bottom: 0;">{{ NOU }}</h5>
      <h3 style="margin-bottom: 1rem;">Users</h3>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-12">
      <img src="/assets/icons/shopping-basket.png" />
      <h5 style="margin-bottom: 0;">{{ NOP }}</h5>
      <h3 style="margin-bottom: 1rem;">Products</h3>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-12">
      <img src="/assets/icons/orders.png" />
      <h5 style="margin-bottom: 0;">{{ NOO }}</h5>
      <h3 style="margin-bottom: 1rem;">Orders</h3>
    </div>
  </div>
</div>
