<div class="container-fluid text-right">
  <button
    class="btn btn-success "
    style="float: left;"
    type="button"
    routerLink="/shop"
  >
    Back to shop
  </button>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-outline-success"
      routerLink="/"
      routerLinkActive="active"
    >
      hello {{ user }}
    </button>
    <button
      type="button"
      class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" disabled style="color: rgb(151, 150, 150);"
        >My orders</a
      >
      <a class="dropdown-item" disabled style="color: rgb(151, 150, 150);"
        >My profile</a
      >
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
